.my-account-page__content {
    display: flex;
    width: 100%;
    height: calc(100vh - 16rem);
    min-height: 600px;
    padding: 1rem;

    .menu__container {
        width: 25%;
        background-color: $white;

        div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 2rem;
            height: 16.66%;
            font-size: 1.8rem;
            border: 2px solid $white;
            span {
                font-size: 1.8rem;
                margin-right: 1rem;
                color: $darkBlue;
            }

            &:hover {
                cursor: pointer;
                border: 2px solid $lightBlue;
            }
        }

        .menu-active {
            background: $lightBlue;
            border: 2px solid $lightBlue;
        }
    }

    .content__container {
        background-color: $lightGray;
        width: 75%;
        height: 100%;
        overflow: auto;

        .greeting {
            min-height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .buttons {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 3rem;
                button {
                    width: 40%;
                    min-width: 310px;
                    margin: 1.5rem 0 0 1rem;
                    padding: 0.8rem 4rem;
                    border: none;
                    color: $white;
                    background: $darkBlue;
                    font-size: 1.1rem;

                    span {
                        margin-left: 1rem;
                    }
                }
                .delete-button {
                    background: $red;
                }
            }

            h1 {
                margin: 0;
                padding-top: 4rem;
                text-align: center;
                color: $white;
                font-size: 3.5rem;
                font-weight: 400;
                text-shadow: 0px 3px 6px $darkBlue;
            }
        }

        .box {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 3rem;
            .icon {
                width: 10%;
                font-size: 2.5rem;
                margin-left: 3rem;
                margin-top: 0.3rem;
                color: $darkBlue;
            }
            .content {
                width: 90%;
                h2 {
                    font-size: 2.8rem;
                    font-weight: 400;
                    margin: 0;
                    margin-bottom: 3rem;
                }
            }
        }

        .my-details {
            height: 100%;
            .content {
                display: flex;
                flex-direction: column;
                .forms {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    width: 100%;
                    height: 100%;

                    .details-form {
                        width: 40%;
                    }

                    .password-form {
                        width: 40%;
                        margin-left: 4vw;
                    }

                    form {
                        label {
                            display: block;
                            margin: 1rem 0 -0.5rem 1rem;
                        }

                        input,
                        select {
                            display: block;
                            width: 95%;
                            padding: 0.8rem 1rem;
                            border: none;
                            margin: 1rem 1rem 0.5rem 1rem;

                            &:focus {
                                outline: none;
                            }
                        }

                        ::placeholder {
                            color: $lightBlue;
                        }

                        button {
                            width: calc(100% - 1rem);
                            margin: 2.5rem 0 0 1rem;
                            padding: 0.8rem 4rem;
                            border: none;
                            background: $lightBlue;
                            font-size: 1.1rem;

                            span {
                                margin-left: 1rem;
                            }
                        }
                    }
                }
            }
        }

        .my-orders {
            overflow: auto;
            height: 90%;
            .content {
                h5 {
                    color: $lightBlue;
                    font-size: 4rem;
                    text-align: center;
                }

                .order-item {
                    display: grid;
                    grid-template-areas: "a a c" "b b c" "b b c";
                    background: $white;
                    width: 90%;
                    margin-bottom: 1rem;
                    padding: 1rem 2rem;

                    .details {
                        grid-area: a;

                        display: flex;

                        .part1 {
                            h3 {
                                font-size: 2rem;
                                font-weight: 400;
                                margin: 0;
                            }
                            p {
                                margin-top: 1rem;
                            }
                        }
                        .part2 {
                            margin-left: 4rem;
                            h4 {
                                font-size: 1.3rem;
                                font-weight: 400;
                                margin: 1rem 0 0.8rem;
                            }
                            p {
                                text-align: center;
                                margin-top: 0;
                            }
                        }
                    }
                    .image-container {
                        grid-area: b;

                        img {
                            width: 5vw;
                            min-width: 50px;
                            max-width: 80px;
                            margin-right: 1rem;
                        }
                    }
                    .buttons {
                        grid-area: c;

                        display: flex;
                        flex-direction: column;
                        margin-top: 3rem;

                        button {
                            margin: 2rem 0 0 1rem;
                            padding: 0.8rem 4rem;
                            border: none;
                            background: $lightBlue;
                            font-size: 1.1rem;
                        }
                        .track-button {
                            background: $white;
                            border: 2px solid $lightBlue;
                        }
                    }

                    .view-order__modal {
                        h2 {
                            font-size: 1.3rem;
                            margin-bottom: 1rem;
                        }
                        button {
                            width: 100%;
                            margin: 2rem 0 1rem;
                            padding: 0.8rem 4rem;
                            border: none;
                            background: $lightBlue;
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
    }
}

.absolute {
    position: absolute !important;
}

@media (max-width: $tablet) {
    .main__container {
        margin-top: 2rem;
        height: 100%;
        min-height: calc(100vh - 13rem);
        .my-account-page__content {
            flex-direction: column;
            height: 100%;
            .MuiAccordion-rounded:first-child {
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
            }
            .MuiAccordionSummary-content {
                h2 {
                    font-size: 2rem;
                    font-weight: 400;
                    padding-left: 1rem;
                    margin-bottom: 1.5rem;
                }
            }
            .MuiAccordionSummary-root {
                height: 4rem;
            }
            .MuiAccordionSummary-content {
                flex-grow: 0;
            }
            .MuiSvgIcon-root {
                font-size: 3rem;
            }
            .MuiAccordion-root.Mui-expanded {
                margin: 0;
            }
            .menu__container {
                margin-top: 0.5rem;
                margin-bottom: 1rem;
                justify-content: center;
                align-items: center;
                width: 100%;
                div {
                    height: 80px;
                }
            }
            .content__container {
                margin-top: 2rem;
                width: 100%;
                height: 100%;
                overflow: visible;

                .box {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 2rem;
                    .icon {
                        display: none;
                    }
                    .content {
                        width: 90%;
                        h2 {
                            font-size: 2.8rem;
                            font-weight: 400;
                            margin: 0;
                            margin-bottom: 3rem;
                        }
                    }
                }

                .my-details {
                    .content {
                        display: flex;
                        flex-direction: column;
                        .forms {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            height: 100%;
                            .details-form {
                                width: 100%;
                            }
                            .password-form {
                                width: 100%;
                                margin-top: 2rem;
                                margin-bottom: 1rem;
                            }
                            form {
                                label {
                                    margin: 0 0 -0.5rem 0;
                                }
                                input,
                                select {
                                    display: block;
                                    width: 100%;
                                    margin: 1rem 0;
                                }
                                button {
                                    width: 100%;
                                    margin: 1rem 0;
                                }
                            }
                        }
                    }
                }

                .my-orders {
                    height: 100%;
                    .content {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 1rem;
                        .order-item {
                            width: 96%;
                            .details {
                                .part1 {
                                    h3 {
                                        text-align: center;
                                    }
                                    p {
                                        text-align: center;
                                    }
                                }
                                .part2 {
                                    margin-left: 2rem;
                                    h4 {
                                        text-align: center;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $mobile) {
    .main__container {
        .my-account-page__content {
            .menu__container {
                div {
                    height: 60px;
                }
            }
            .content__container {
                .greeting {
                    .buttons {
                        button {
                            width: 90%;
                        }
                    }
                }

                .my-orders {
                    .content {
                        .order-item {
                            grid-template-areas: "a a" "b b" "c c";
                            .details {
                                flex-direction: column;
                                justify-content: center;
                                .part2 {
                                    margin-left: 0;
                                }
                            }
                            .image-container {
                                display: flex;
                                justify-content: center;
                                img {
                                    min-width: 0px;
                                    width: 70px;
                                    margin-right: 1rem;
                                }
                            }
                            .buttons {
                                margin-top: 0;
                                button {
                                    margin: 2rem 0 0 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
