$orange: #ff6600;
$darkBlue: #001326;
$lightBlue: #6cace9;
$lightBlueOpacity: rgba(108, 172, 233, 0.6);
$lightGray: #f6f6f6;
$red: #dd1500;
$black: #000000;
$white: #ffffff;

// $orange: #f95839;
// $darkBlue: #101822;
// $lightBlue: #5cc7d3;
// $lightBlueOpacity: rgba(92, 199, 211, 0.6);
// $lightGray: #f6f6f6;
// $red: #dd1500;
// $black: #000000;
// $white: #ffffff;
