.genres-page__container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0 1rem;
    margin-top: 4rem;
    margin-bottom: 3rem;

    .filter__container {
        width: 20%;
        margin-right: 2rem;
        background: $lightGray;

        h2 {
            font-size: 2rem;
            font-weight: 400;
            padding-left: 1rem;
            margin-bottom: 1.5rem;
        }

        .filter-form {
            padding: 0 0 1rem 1rem;
            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                label {
                    font-size: 1.3rem;
                }
                input,
                select {
                    width: calc(100% - 1rem);
                    padding: 0.5rem 1rem;
                    margin: 0.2rem 0 1rem 0;
                    font-size: 1.1rem;
                    border: 1px solid $lightBlue;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }

    .genres__container {
        flex-grow: 1;
        background: $lightGray;
        padding-bottom: 2rem;

        h1 {
            font-size: 3rem;
            margin: 2rem 2.2rem 1rem;
            color: $orange;
        }

        .grid__container {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-row-gap: 2rem;

            @media (max-width: 1400px) {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}
