@media (max-width: $tablet) {
    .header-moblie__container {
        display: block;
        width: 100%;
        background: $darkBlue;
        .menu-bar {
            width: 96%;
            height: 5rem;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            span {
                color: $orange;
                font-size: 2.5rem;
                &:hover {
                    color: $white;
                }
            }
            .cart {
                margin-right: 1rem;
            }

            a {
                display: flex;
                align-items: center;
                img {
                    width: 220px;
                }
            }
        }
    }
    .MuiButton-root {
        &:hover,
        &:active,
        &:visited {
            background-color: none !important;
        }
    }
    .MuiListItem-gutters {
        a,
        span,
        div {
            font-size: 1.2rem;
        }
        &:hover {
            background-color: transparent !important;
            a,
            div {
                color: $lightBlue;
            }
        }
    }
    .MuiDrawer-paper {
        width: 30%;
    }

    .search-bar {
        height: 4rem;
        background: $lightBlue;
        display: flex;
        align-items: center;
        justify-content: center;
        .search__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 3rem;
            form {
                display: flex;
                justify-content: space-between;
                width: 100%;
                .input__container {
                    width: 70%;
                    height: 3rem;
                    background-color: $white;
                    margin-left: 2rem;
                    span {
                        margin: 0 1rem;
                    }
                    input {
                        height: 100%;
                        width: calc(100% - 3rem);
                        border: none;
                        &:focus {
                            outline: none;
                        }
                    }
                    ::placeholder {
                        color: $orange;
                    }
                }
                button {
                    width: calc(20% - 2rem);
                    min-width: 60px;
                    height: 3rem;
                    margin-left: 1rem;
                    margin-right: 2rem;
                    background: $orange;
                    border: none;
                    font-size: 1.2rem;
                    &:hover {
                        cursor: pointer;
                    }
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }

    .gray-line {
        height: 0.5rem;
        background: $lightGray;
    }
}

@media (max-width: $mobile) {
    .MuiDrawer-paper {
        width: 200px;
    }
    @media (max-width: 380px) {
        .search-bar {
            .search__container {
                form {
                    .input__container {
                        ::placeholder {
                            font-size: 0.95rem;
                        }
                    }
                }
            }
        }
    }
}
