@import "./searchBar";
@import "./menuBar";

.header {
    width: 100%;
    height: 8rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 6;
    // min-width: 1024px;
}

@media (max-width: $tablet) {
    .header {
        display: none;
    }
}

.header-moblie__container {
    display: none;
}
