.login-bar__container {
    height: 3rem;
    width: 100%;
    background: $lightBlue;

    .login-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        a {
            font-size: 1.2rem;
            margin: 0 1rem;
            color: $black;
            text-decoration: none;
            &:hover {
                color: $white;
            }
            span {
                font-size: 1.2rem;
            }
        }

        .login-active {
            color: $white;
        }

        .logout {
            margin: 0 1rem;
            color: $black;
            font-size: 1.2rem;
            &:hover {
                cursor: pointer;
                color: $white;
            }
        }
    }

    .greeting {
        font-size: 1.2rem;
    }

    .user {
        display: flex;
    }

    // .general {
    // }
}
