.menu-bar__container {
    height: 3rem;
    width: 100%;
    background: $lightGray;

    .menu-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        color: $black;

        a {
            font-size: 1.2rem;
            margin: 0 1rem;
            color: $black;
            text-decoration: none;
            cursor: pointer;
            &:hover {
                color: $lightBlue;
            }
            span {
                font-size: 1.2rem;
            }
        }

        .menu-active {
            color: $lightBlue;
        }
    }
}
