.home-page__container {
    width: 100%;

    // display: grid;

    .home-page__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100%;

        // display: grid;
        // grid-template-columns: repeat(3, 1fr);
        // grid-template-rows: repeat(3, 1fr);
        // margin: 0 1rem;s
    }
}
